mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=`${className} ${className}--${name}` viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)